html{
 --white: white;
}
body{
  background: rgb(57, 148, 245);
  font: normal 15pt Arial;

}

header{
  color: var(--white); 
  text-align: center;
}

section{
  background: var(--white);
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow:2px 2px 20px 0px;}

footer{
  color: var(--white);
  text-align: center;
  font-style: italic;
}
#foto{
  width: 500px;
  height: 500px; 
  padding-bottom: 20px;
 
}
img{
  width: 500px;
  height: 500px;
  margin-top: 10px;

  
}
#msg{
  text-align: center;
  padding:10;
}
/*img:hover{
  border-radius: 50%;
 animation-timing-function: 10s;
  transition: 3s;
}
